
<div class="container">

    <div class="row mt-5">
        <div class="col-md">
            <partial name="_AddProduct"></partial>
        </div>
        <div class="col-md">
            <partial name="_ListProducts"></partial>
        </div>
    </div>

</div>